
.FlexBoxContainer {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  background: #333;
  height: 7vh;
  list-style-type: none;
  padding-left: 0;
}

.FlexBoxContainer a {

  text-decoration: none;
  padding: 10px;
}

.FlexBoxContainer>li{
  color: black;
  background: white;
}

.FlexBoxContainer>li:hover, .FlexBoxContainer a:hover {
  background: green;
  color: white;
}

.FlexBoxContainer li {
  margin-right: 10px;
}

.FlexBoxContainer .last-item {
  margin-left: auto;
}
