@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Noto+Sans+JP&display=swap');

/* General CSS Rules */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #e6e6e6;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 1fr 20px;
  grid-template-areas:
  "header header"
  "main main"
  "footer footer";
}

header {
  grid-area: header;
}

main{
  grid-area: main;
}

section {
  grid-area: content;
}
article.layout1 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas:
  "title content"
  "title content"
  "title content";
  background-image: url(MyImageForAboutMe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

article.layout2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas:
  "title content"
  "title content"
  "title content";
  background-image: url(MyImageForAboutMe3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1.Soccerh1 {
  grid-area: title;
  background-color: rgba(255,255,255,.15)
}

footer {
  grid-area: footer;
}

h2.grid-title {
  grid-area: title;
}
img {
  width: 100%;
  border: 4px solid;
  padding: 4px;
  border-color: black;
  box-shadow: 7px 7px #262626;
}

h1 {
  font-size: 32px;
  color: #111;
  text-shadow: 2px 3px 2px gray;
  font-family: 'Notable', sans-serif;
  background-color: white;
  /* padding: 3px; */
}

h2 {
  font-family: 'Francois One', sans-serif;
  color: #111;
  /* background: #e6e6e6; */
  text-shadow: 1px 2px 1px gray;
  background-color: rgba(255,255,255,.15);
  background-size: cover;

}

h3 {
  font-size: 20px;
  /* background: #e6e6e6; */
  text-shadow: 1px 2px 1px gray;
  color: #111;
  font-weight: bold;
  font-style: italic;
  font-family: 'Francois One', sans-serif;
}

p {
  font-family: 'Noto Sans JP', sans-serif;
}


/* End of General CSS Rules */




/* Beginning of Nav */

nav {
  font-family: 'Luckiest Guy', cursive;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #1ac6ff;
  background-color: #1ac6ff;
  transition: background-color .1s ease-in .1s;
}


/* End of nav design */


main a {
    color: #808080;
    background: white;
    margin-bottom: 5px;
    font-family: 'Noto Sans JP', sans-serif;
  }

  .mainContact {
    background-image: url(MyImageForContactMe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

/* begin of details design */
details {
  width: 50%
}

details p {
   font-family: 'Francois One', sans-serif;
 }

details img {
  width: 95%;
}

details:hover {
  color: black;
  background-color: #f2f2f2;
}

summary {
   font-weight: bold;
   font-family: 'Noto Sans JP', sans-serif;
 }

 /* End of details design */


/* Function Design classes */


.div12 {
    background-color: rgba(255,255,255,.2);

    /* padding: 2px 0px 2px 5px; */
    padding: 15px;
    grid-area: content;
}

.soccerp {
  background-color: rgba(255,255,255,.2);
  width: 100%;
 /* padding: 2px 0px 2px 5px; */
  grid-area: content;
}

.h1name {
  background-color: white;
}

.h1contact {
  background-color: white;
}

.contactbg {
  background-color: white;
}

.imgindex {
  grid-area: grid-img
}

/* begin of hidden class for visual */

.hidden {
  position:absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* end of hidden class for visual */

/* end of function design classes */
